@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

body {
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans', sans-serif;
  background: #1e1e1e;
  color: #fff;
}

* {
  margin: 0;
  padding: 0;
}